{% extends "../base.html" %}

{% load static %}

{% block title %}
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{% static 'css/comparison/comparison.css' %}">
{% endblock %}

{% block content %}
	<div class="comparison-container" style="background: url({% static 'img/analysis/background.jpg' %}) no-repeat; background-position: center; background-size: cover;">
		<div class="wrapper-comparison container">
			<h1 class="comparison__title">Comparison a web sites</h1>
			<p class="description">Paste the <b>URL's</b> to get information about the web site of interest</p>
			<form method="POST">
				{% csrf_token %}
				<div>
				{% for field in form %}
					<div class="input__container">
						{{ field }}
						<p class="upload-file__text">
							Or <span class="upload-file__click">Click</span> to upload an html document
						</p>
					</div>
				{% endfor %}
				</div>
				<button class="submit-btn">Compare</button>
			</form>
		</div>
	</div>
{% endblock %}