{% extends "../base.html" %}

{% load static %}

{% block title %}
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{% static 'css/comparison/information.css' %}">
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}

{% block content %}
	<div class="comparison-container">
		<div class="sites-container container">
			<div class="compare-title">
				<img class="site-logo" src="{{ site_1.favicon.href }}" alt="{{ site_1.netloc }} favicon is not found!">
				<h1 class="compare-title__text">
					{{ site_1.netloc.upper }} / {{ site_2.netloc.upper }}
				</h1>
				<img class="site-logo" src="{{ site_2.favicon.href }}" alt="{{ site_2.netloc }} favicon is not found!">
			</div>
			<div class="sites-container__block">
				<div class="site-info site-info__left">
					<div class="site-info__container">
						<h2 class="site-domain-title">{{ site_1.netloc }}</h2>
						<p class="site-info__description" onclick="open_diagram('{{ site_1.netloc }}')">
							Description:<br>
							<span>{{ site_1.meta.description }}</span>
						</p>
						<p class="site-info__keywords">
							{% for keyword in site_1.meta.keywords %}
								<p>{{ keyword }}</p>
							{% endfor %}
						</p>
					</div>
				</div>
				<div class="site-info site-info__right">
					<div class="site-info__container">
						<h2 class="site-domain-title">{{ site_2.netloc }}</h2>
						<p class="site-info__description" onclick="open_diagram('{{ site_2.netloc }}')">
							Description:<br>
							<span>{{ site_2.meta.description }}</span>
						</p>
						<p class="site-info__keywords">
							{% for keyword in site_1.meta.keywords %}
								<p><tt>{{ keyword }}</tt></p>
							{% endfor %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="top-block" onclick="close_diagram()">
		<p id="close-button" onclick="close_diagram()"><tt>X</tt></p>
		<div class="top-block__container" onclick="show_message('Hello!')">
			<h1>Top block container</h1>
		</div>
	</div>

	<script src="{% static 'js/comparison/top_level.js' %}"></script>
{% endblock %}