{% extends "../base.html" %}

{% load static %}

{% block title %}
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{% static 'css/analysis/analysis.css' %}">
{% endblock %}

{% block content %}
	<div class="analysis-container" style="background: url({% static 'img/analysis/background.jpg' %}) no-repeat; background-position: center; background-size: cover;">
		<div class="wrapper-container container">
			<h1 class="analysis__title">Analyze a web site</h1>
			<p class="description">Paste the <b>URL</b> to get information about the web site of interest</p>
			<form method="POST">
				{% csrf_token %}
				{% for field in form %}
					{{ field }}
				{% endfor %}
				<button class="submit-btn">
					<i class="fa-sharp fa-solid fa-magnifying-glass"></i>
				</button>
			</form>
			<p class="upload-file__text">
				Or <span class="upload-file__click">Click</span> to upload an html document
			</p>
		</div>
	</div>
{% endblock %}