{% extends "../base.html" %}

{% load static %}

{% block title %}
	<title>{{ data.url.netloc }} - {{ title }}</title>
	<link rel="stylesheet" href="{% static 'css/analysis/information.css' %}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="site-info__container">
			<div class="site-info__logo-container">
				<img class="site-info__logo" src="{{ data.analyzer.favicon }}" alt="The icon of the data being analyzed.">
			</div>
			<div class="site-info__container-wrapper">
				<h1 class="site-info__domain">{{ data.url.netloc.upper }}</h1>
				<p class="site-info__short-description">
					{{ data.analyzer.description }}
				</p>
				<div class="progressbar__container">
					<progress id="progressbar" class="progressbar" max="100" value="50">50%</progress>
					<div id="progressbar__help-button" class="help-button">
							<i class="fa-sharp fa-solid fa-circle-question"></i>
						</div>
					<div class="progressbar__info">
						<h4>50%/100%</h4>
					</div>
				</div>
				<div class="visits__container">
					<div class="visit__block">
						<i class="fa-solid fa-circle-user"></i>
						<p class="visit__value" title="Visitors">
							{{ data.analyzer.visits.visitors }}
						</p>
					</div>
					<div class="visit__block">
						<i class="fa-solid fa-eye"></i>
						<p class="visit__value" title="Views">
							{{ data.analyzer.visits.views }}
						</p>
					</div>
					<div class="visit__block">
						<i class="fa-solid fa-globe"></i>
						<p class="visit__value" title="Place in the world">
							{{ data.analyzer.visits.world_place }}
						</p>
					</div>
					<div class="visit__block">
						<img class="visit__flag" alt="County flag">
						<p class="visit__value" title="Place in the country">
							{{ data.analyzer.visits.county_place }}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="indicators__container">
			<h2 class="indicators__title">Indicators</h2>
			<table class="indicators__table">
				<!-- <h1>{{ data.analyzer.metrics }}</h1> -->
				{% for metric in data.analyzer.metrics %}
					<tr>
						<td class="indicator__name">Yandex.Metrix</td>
						<td class="indicator__status">{{ metric.text }}</td>
						<td class="indicator__info">
							<div id="help-button" class="help-button">
								<i class="fa-sharp fa-solid fa-circle-question"></i>
							</div>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="seo-optimization__container">
		<h2>{{ data.analyzer.parsed_text.clean }}</h2>
		<h2>{{ data.analyzer.parsed_text.keyword_density }}</h2>
	</div>
	<div class="compare__container" style="background: url({% static 'img/analysis/background.jpg' %}) no-repeat; background-position: center; background-size: cover;">
		<div class="compare__container-wrapper">
			<h2 class="compare__title">Comparison a web page</h2>
			<input id="comparison__input" type="text" placeholder="URL..." />
			<button class="submit-btn">Compare</button>
		</div>
	</div>
{% endblock %}