{% extends "../base.html" %}

{% load static %}

{% block title %}
	<title>{{ data.netloc }} - {{ title }}</title>
	<link rel="stylesheet" href="{% static 'css/analysis/information.css' %}">
{% endblock %}

{% block content %}
	<div class="request-container container">
		<input id="request" type="text" name="request" placeholder="Enter request...">
		<button id="request-submit">
			<i class="fa-sharp fa-solid fa-magnifying-glass"></i>
		</button>
	</div>
	<div class="information-container" style="min-height: 90vh;">
		<h1>{{ data.netloc }} - {{ title }}</h1>
		<div class="global-info">
			<div class="global-info__wrapper container">
				<div class="domain">
					<div class="site-logo">
						<img src="{{ data.favicon.href }}" alt="The icon of the data being analyzed">
					</div>
				</div>
			</div>
		</div>
		<div class="google-analytics container">
			<div class="google-analytics__wrapper">
				<h4>
					External links:
					<span class="google-analytics__value">
						123
					</span>
				</h4>
			</div>
		</div>
	</div>
{% endblock %}