<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Выпускная квалификационная работа на тему «Применение математических методов и моделей для оценки эффективности web-ресурсов» студента группы ПМИOZ-351 «РГЭУ (РИНХ)» Цупко Романа Игоревича">
	<title>Выпускная квалификационная работа</title>
</head>
<body>
	<h1>Выпускная квалификационная работа</h1>
	<h2>Тема: «Применение математических методов и моделей для оценки эффективности web-ресурсов»</h2>
	<p>Выпускная квалификационная работа по направлению подготовки 01.03.02 «Прикладная математика и информатика» / Цупко Р.И. – Ростов-на-Дону: ФГБОУ ВО «РГЭУ (РИНХ)», 2023 г.<br>Работа посвящена оценке эффективности веб-ресурсов средствами математических методов и моделей. Оценка выполнена на основе известных параметров оценки релевантности веб-страниц, используемыми поисковыми роботами, реализованная на языке программирования Python.</p>
</body>
</html>