{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	{% block title %}
	{% endblock %}
	<script src="https://kit.fontawesome.com/67ea627374.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="logo-container">
			<a class="logo-container__link" href="{% url 'index' %}">
				<img class="logo" src="{% static 'img/logo.svg' %}">
			</a>
		</div>
		<div class="navigation">
			<nav>
				<!-- <a class="nav__item" href="{% url 'index' %}">Homepage</a> -->
				<a class="nav__item" href="{% url 'analysis' %}">Analyze</a>
				<a class="nav__item" href="{% url 'comparison' %}">Compare</a>
				<a class="nav__item" href=#>Contacts</a>
			</nav>
		</div>
		<div class="auth-container">
			<a class="auth__item" href=#>Log in</a> | <a class="auth__item" href=#>Register</a>
		</div>
	</header>
	{% block content %}
	{% endblock %}
</body>
</html>