.comparison-container {
	height: 90vh;
}
.wrapper-comparison {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .5);
}
.comparison__title {
	font-size: 56px;
	text-align: center;
	font-weight: 900;
	letter-spacing: 5px;
	color: #fff;
	text-transform: uppercase;
}
.description {
	text-align: center;
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
}
form {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}
form div {
	display: flex;
	justify-content: space-evenly;
}
.input__container {
	width: 40%;
	display: flex;
	flex-direction: column;
}
input[type="text"] {
	width: calc(100% - 10px);
	font-size: 20px;
	padding: 7px 0;
	border-radius: 10px;
	padding-left: 10px;
}
.upload-file__text {
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	color: #ddd;
}
.upload-file__click {
	font-weight: 600;
	color: #70be70;
	border-bottom: 2px solid var(accent-color);
	cursor: pointer;
}
.upload-file__click:hover {
	color: lightgreen;
	border-bottom: 2px solid var(--accent-color-hover);
}
.submit-btn {
	margin-top: 25px;
	background-color: var(--accent-color);
	padding: 10px 25px;
	font-size: 20px;
	border-radius: 6px;
	cursor: pointer;
	transition: .3s;
}
.submit-btn:hover {
	transition: .3s;
	background-color: var(--accent-color-hover);
}