.analysis-container {
	height: 90vh;
	background-size: cover;
	background-position: center;
}
.wrapper-container {
	/*width: 100%;*/
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.analysis__title {
	font-size: 56px;
	text-align: center;
	font-weight: 900;
	letter-spacing: 5px;
	color: #fff;
	text-transform: uppercase;
	/*margin-top: 150px;*/
}
.description {
	text-align: center;
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
}
form {
	margin-top: 50px;
	text-align: center;
}
input[type="text"] {
	width: 45%;
	font-size: 20px;
	padding: 7px 0;
	border-radius: 10px 0px 0px 10px;
	padding-left: 10px;
}
.submit-btn {
	margin-left: -5px;
	background-color: #fff;
	font-size: 20px;
	height: 38px;
	border-radius: 0 10px 10px 0;
	border-left: 1px solid #ddd;
	padding: 0 10px 0 15px;
	cursor: pointer;
	transition: .3s;
}
.submit-btn:hover {
	transition: .3s;
	background: #ddd;
}
.upload-file__text {
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	color: #ddd;
}
.upload-file__click {
	font-weight: 600;
	color: #70be70;
	border-bottom: 2px solid #70be70;
	cursor: pointer;
}
.upload-file__click:hover {
	color: lightgreen;
	border-bottom: 2px solid lightgreen;
}