.site-info__container {
	margin-top: 15px;
	display: flex;
}
.site-info__container-wrapper {
	width: 100%;
}
.site-info__domain {
	font-size: 26px;
	color: #000;
	margin-bottom: 10px;
}
.site-info__logo-container {
	min-width: 256px;
	height: 256px;
	padding: 0 20px 0 0;
}
.site-info__logo {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.site-info__short-description {
	color: #444;
	font-size: 16px;
	margin-bottom: 20px;
}
.progressbar__container {
	margin-top: 15px;
	position: relative;
}
.progressbar {
	width: 75%;
	height: 30px;
	margin: 0 12.5%;
}
.progressbar__info {
	text-align: center;
}
#progressbar__help-button {
	position: absolute;
	right: 7.5%;
	top: 0;
}
.help-button {
	font-size: 20px;
	cursor: pointer;
	transition: .3s;
}

.visits__container {
	display: flex;
	justify-content: space-evenly;
}
.visit__block {
	padding: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	transition: .3s;
}
.visit__block:hover {
	transition: .3s;
	background: #efefef;
}
.visit__block i {
	width: 20px;
	font-size: 20px;
	font-weight: bold;
}
.visit__value {
	margin-top: 5px;
	font-size: 16px;
	color: rgba(0, 0, 0, .8);
}

/* === INDICATORS === */
.indicators__container {
	width: 100%;
	margin-top: 20px;
}
.indicators__title {
	font-size: 20px;
	color: rgba(0, 0, 0, .8);
	margin-bottom: 10px;
}
.indicators__table {
	width: 100%;
	border-spacing: 0;
	border-collapse: 0;
}
.indicators__table tr:hover {
	background: #ccc;
}
.indicators__table td {
	padding: 10px;
	cursor: pointer;
}
.indicator__name {
	width: 25%;
}
.indicator__status {
	width: 70%;
}
.indicator__info {
	width: 5%;
}
/* === INDICATORS === */

/* === COMPARE === */
.compare__container {
	margin-top: 20px;
}
.compare__container-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .7);
}
.compare__title {
	margin-bottom: 20px;
	font-size: 56px;
	text-align: center;
	font-weight: 900;
	letter-spacing: 5px;
	color: #fff;
	text-transform: uppercase;
}
#comparison__input {
	min-width: 45%;
	border-radius: 10px;
	padding: 7px 0;
	padding-left: 10px;
	font-size: 20px;
}
.submit-btn {
	margin-top: 25px;
	background-color: var(--accent-color);
	padding: 10px 25px;
	font-size: 20px;
	border-radius: 6px;
	cursor: pointer;
	transition: .3s;
}
.submit-btn:hover {
	transition: .3s;
	background-color: var(--accent-color-hover);
}
/* === COMPARE === */